:root {
    /* COLOR */
    --white-color:hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Slate-300);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    padding: 20px;
}
.container {
    width: 100%;
    height: auto;
    max-width: 380px;
    margin: 90px auto;
    background-color: var(--white-color);
    text-align: center;
    border: none;
    border-radius: 10px;
}
.content-card {
    padding: 15px;
}
.qr-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}
.card-text {
    max-width: 300px;
    text-align: center;
    margin: 20px auto;
}
.card-text h2 {
    margin-bottom: 20px;
    color: var(--Slate-900);
}
.card-text p {
    font-size: 14px;
    font-weight: 400;
    color: var(--Slate-500);
}

@media (min-width: 1440px) {
 .container {
    max-width: 520px;
 }
 .card-text {
    max-width: 320px;
 }
}

